@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-row-content .rbc-row {
  display: none;
}

.rbc-row-bg {
  display: none;
}
.rbc-allday-cell {
  display: none;
}

.rbc-header {
  padding: 4px;
}
